{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
<!-- Google Material Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="theme-color" content="{{ .Site.Params.themeColor }}" media="(prefers-color-scheme: light)">
<meta name="theme-color" content="{{ .Site.Params.themeColor }}" media="(prefers-color-scheme: dark)">
{{- /* Head custom content area end */ -}}
