.section.hero {
  .hero-image {
    @media (min-width: 0px) {
      img {
        max-width: 60%;
        float: right;
      }
    }
  }
  .hero-title {
    strong {
      color: $danger;
    }
  }
}
